
// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

.navbar-laravel {
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.04);
}


//* Added by me ********************************************************************************************************************************
// Font Awesome
@import "~@fortawesome/fontawesome-free/scss/brands.scss";
@import "~@fortawesome/fontawesome-free/scss/regular.scss";
@import "~@fortawesome/fontawesome-free/scss/solid.scss";
@import "~@fortawesome/fontawesome-free/scss/fontawesome.scss";
@import "~@fortawesome/fontawesome-free/scss/v4-shims.scss";


/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}
body {
  /* Margin bottom by footer height */
  margin-bottom: 40px;
  background-color: rgba(207, 206, 206, 0.555);
  color: rgb(0, 0, 0);
  font-family: 'Roboto', sans-serif;
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 40px;
  line-height: 38px; /* Vertically center the text there */
  background-color: #f5f5f5;
}


/* Custom page CSS
-------------------------------------------------- */
/* Not required for template or sticky footer method. */

body > .container {
  padding: 90px 15px 0;
}

.footer {
  background-color: #000;
}

.footer > .container {
  border-top: 1px solid #dc3545;
  padding-right: 15px;
  padding-left: 15px;
}

code {
  font-size: 80%;
}

/* navbar settings
-------------------------------------------------- */
.navbar {
  line-height: 240%;

  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#ff665b+0,cf0404+100 */
  background: #ff665b; /* Old browsers */
  background: -moz-linear-gradient(top,  #ff665b 0%, #cf0404 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(top,  #ff665b 0%,#cf0404 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom,  #ff665b 0%,#cf0404 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ff665b', endColorstr='#cf0404',GradientType=0 ); /* IE6-9 */
  box-shadow: 0 6px 3px rgba(0, 0, 0, 0.1);
}

// .navbar-dark .navbar-nav .nav-link {
//   color: #fff;
// }

// .navbar-dark .navbar-nav .nav-link:hover {
//   color: #ffffaa;
// }

// .active-nav .nav-link {
//   color: yellow;
// }

.navbar-dark .navbar-nav .nav-link {
  color: #fff;
}
.navbar-dark .navbar-nav .nav-link:hover, .navbar-dark .navbar-nav .nav-link:focus {
  color: #ffffaa;
}

.navbar-dark .navbar-nav .show > .nav-link, .navbar-dark .navbar-nav .active > .nav-link, .navbar-dark .navbar-nav .nav-link.show, .navbar-dark .navbar-nav .nav-link.active {
  color: #ffff7e;
}

// th,td {
//   color: #fff;
// }
